/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');  */
/* 
@font-face {
    font-family: '7ledregular';
    src: url('fonts/7led-webfont.woff2') format('woff2'),
         url('fonts/7led-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '7led_italicregular';
    src: url('fonts/7leditalic-webfont.woff2') format('woff2'),
         url('fonts/7leditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'the_led_display_stregular';
    src: url('fonts/led_display-webfont.woff2') format('woff2'),
         url('fonts/led_display-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'llpixelregular';
    src: url('fonts/llpixel3-webfont.woff2') format('woff2'),
         url('fonts/llpixel3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */


/* @font-face {
    font-family: 'skyfont';
    src: url('https://github.com/timveph/flying_pe/tree/dev/stylesheet/fonts#:~:text=skyfont%2Dwebfont.woff2') format('woff2'),
         url('https://github.com/timveph/flying_pe/tree/dev/stylesheet/fonts#:~:text=skyfont%2Dwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;

} */

/* @import url('https://github.com/timveph/flying_pe/tree/dev/stylesheet/fonts#:~:text=skyfont%2Dwebfont.woff');  */


/* body, h1, h2, p, [class*="css"]{ 
    font-family: '7ledregular', '7led_italicregular'
                , 'llpixelregular', 'the_led_display_stregular', 'skyfont'
                , sans-serif;
    color: #fafafa
} */

/* html, body, [class*="css"] {
    font-family: 'skyfont', sans-serif; 
    /* font-size: 18px;
    font-weight: 500; */
    /* color: #FFF;
} */ 